/* .vertical {
    border-left: 6px solid black;
    height: 200px;
    position:absolute;
    left: 50%;
}
.vertical2 {
    border-left: 6px solid black;
    height: 200px;
    position:absolute;
    left: 40%;
}
.horizontal {
  border-left: 6px solid black;
  height: 400px;
  width: 100px;
  position: absolute;
  left: 10%;
} */


.box {
  width: 1000px;
  border: 2px solid black;
  padding: 50px;
  margin: 20px;
}
.row {
  padding: 5px;
}
.marker {
  padding: 50px;
  background-color: lightpink;
  margin: 5px;
}
